<h1>Welcome to Dashboard</h1>
<p>Please click on the Red <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Icon.</p>
<div id="main">
  <div id="map"></div>
</div>
<script>
  /*
    NOTE: In order to create a google map instance
    the JavaScript must be in the html file due to google's source
    attribute in their script tag that calls google.maps.Map objects
    and the callback function initMap.

    This code was referenced from google maps API:
    https://developers.google.com/maps/documentation/javascript/geolocation
  */
  function initMap() {

    // Creates a new Google Map.
    var map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: -34.397, lng: 150.644},
      zoom: 16
    });

    // Creates a new information window for the coordinates found.
    var infoWindow;
    var infoWindowContents;
    var redMarker;

    // Using HTML5's GeoLocation API
    // This will check if the users accepts geolocation settings.
    if (navigator.geolocation) {

      navigator.geolocation.getCurrentPosition(function(position) {

        // Gather latitude and longitude coordinates
        var pos = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };

        // Inserts a message and geo coords of the user.
        // Also creates a button to send the user's info to the FBI.
        infoWindowContents = '<h2>You have been located!</h2>' +
          '<p>Latitude: ' + pos.lat + '</p>' +
          '<p>Longitude: ' + pos.lng + '</p>' +
          '<textarea id="textbox" rows=4 cols=39>Enter your message</textarea>' +
          '<p><input class="btn btn-primary" onclick=sendInfo() type="submit" id="mess" value="Send To FBI" /></p>';

        infoWindow = new google.maps.InfoWindow({
          content: infoWindowContents
          //map:map;
        });

        redMarker = new google.maps.Marker({
          //animation: google.maps.Animation.DROP
          position: pos,
          map: map,
          title: 'Click Me'
        });

        redMarker.addListener('click', function() {
          infoWindow.open(map, redMarker);
        });

        // Set the coordinates in the information window
        infoWindow.setPosition(pos);
        map.setCenter(pos);

        // Sending the Geolocation variables to the button
        // that is activating the script via COOKIES.
        // Converting the JS object to a string.
        pos = JSON.stringify(pos);
        // Encodes a WindowBase64 ASCII string.
        // This code is a reference from the following sources:
        // More info: https://developer.mozilla.org/en-US/docs/Web/API/WindowBase64/btoa
        pos = btoa(pos);
        // Saves the encoded string to web storage, cookie.
        // More info: https://hacks.mozilla.org/2009/06/localstorage/
        // More info: https://developer.mozilla.org/en-US/docs/Web/API/Window/localStorage
        localStorage.setItem('coords_key', pos);
        },
        function() {
          handleLocationError(true, infoWindow, map.getCenter());
        });

    }
    else {
      // Browser doesn't support Geolocation
      handleLocationError(false, infoWindow, map.getCenter());
    }
  }

  function handleLocationError(browserHasGeolocation, infoWindow, pos) {
    infoWindow.setPosition(pos);
    infoWindow.setContent(browserHasGeolocation ?
                          'Error: The Geolocation service failed.' :
                          'Error: Your browser doesn\'t support geolocation.');
  }
</script>
<script>
  function sendInfo() {

    var message = $('#textbox').val();
    console.log(message);

    var gpsCoordinates = localStorage.getItem('coords_key');
    gpsCoordinates = atob(gpsCoordinates);

    var emailObject = JSON.parse(gpsCoordinates);

    console.log(emailObject);

    emailObject.message = message;

    console.log(emailObject);
    emailObject = JSON.stringify(emailObject);

    console.log(emailObject);
    $.post('/', emailObject, function(result) {
      console.log("Server sent data back..");
    });

  }
</script>
<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
<script async defer
src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCDu1j-5rGFm1JyXdu6U3Y3YxNJ9fh_784&callback=initMap">
</script>
