<h1>Welcome {{Username}}</h1>
<p>Please click on the Red <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Icon.</p>
<div class="row">
    <div id="main">
      <div id="map"></div>
    </div>
</div>
