<h2>Agent Login</h2>
<form method="post" action="/users/login">
  <p><label>Agent ID: </label><input type="text" name="username" placeholder="Agent ID"></p>
  <p><label>Password: </label><input type="password" name="password" placeholder="Password"></p>
  <p><input type="submit" value="Login"></p>
</form>
