
<div class="container">
<!--<h3><a href="/get-location">View Recent Loactions</a></h3>-->
<button onclick="test()">View Recent Loactions</button>
  <table class="table table-bordered">
    <tr>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Message</th>
    </tr>
    {{# each items }}
    <tr>
      <td>{{ this.location.lat}}</td>
      <td>{{ this.location.lng}}</td>
      <td>{{ this.location.message}}</td>
    </tr>
    {{/each}}
  </table>
  <h1>{{message}}</h1>
</div>
<script>
function test() {
  $.ajax({
    type: 'GET',
    url: '/get-location'
  });
}
</script>
-->
